<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>lists email</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>

        <div id="root">
            <div v-if="mailArray.length == mailNeeded">
                <h1 v-for="email in mailArray">
                    {{email}}
                </h1>
            </div>
            <div v-else="">
                wait a moment....    
            </div>
        </div>

        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
